@model SidebarViewModel


<nav class="col-md-2 d-none d-md-block bg-light sidebar" style="background-image: url('/img/bg-pattern.png')">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item pt-5">
                <a class="nav-link" href="/Members">
                    <span data-feather="users"></span>
                    Members
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Bills">
                    <span data-feather="file-text"></span>
                    Bills
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Votes">
                    <span data-feather="thumbs-up"></span>
                    Votes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Statements">
                    <span data-feather="message-circle"></span>
                    Statements
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Committees">
                    <span data-feather="bookmark"></span>
                    Committees
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Nominations">
                    <span data-feather="pen-tool"></span>
                    Nominations
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Lobbying">
                    <span data-feather="activity"></span>
                    Lobbying
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Other">
                    <span data-feather="archive"></span>
                    Other
                </a>
            </li>
        </ul>
    </div>
</nav>