
<div id="votes"></div>

@section Scripts{
    <script src="~/js/List.js" asp-append-version="true"></script>
    <script>
        var votes = $('#votes').List({
            defaultArgs: { chamber: '@ViewData["chamber"].ToString()' },
            loadUrl: '/Votes/List',
            onComplete: function (data) {
                $('#tbl_votes').DataTable({
                    "pageLength": 25,
                    order: [[1, 'desc']],
                    "columns": [
                        null,
                        { "type": "date" },
                        null,
                        null
                    ]
                })
            }
        })
        function initVotesBarChart(labels, data) {
            var ctx = $("#votesBarChart");
            var myBarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            data: data,
                            backgroundColor: "#212529",
                            hoverBackgroundColor: "#6c757d",
                            borderColor: "#212529",
                        }
                    ],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    legend: {
                        display: false
                    },
                }
            });
        }
        function ChamberFilterChanged(sender, congress, chamber) {
            votes.list({ chamber: chamber })
        }
    </script>
}