@model MemberBillsViewModel
@{
    ViewData["Title"] = "Bills";
}

@await Component.InvokeAsync("MemberNavbar", new { member = Model.Member })

<div>
    <h2 class="mb-3 font-weight-light">
        Sponsored Bills
    </h2>
    @if (Model.bills?.Count > 0)
    {
        <div class="table-responsive">
            <table id="tbl_sponsored_bills" class="table table-sm table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Bill
                        </th>
                        <th>
                            Updated
                        </th>
                        <th>
                            Details
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.bills.Count; i++)
                    {
                        var bill = Model.bills[i];
                        <tr>
                            <td class="text-center w-auto">
                                <a class="text-decoration-none" href="/Bills/Details?id=@bill.bill_id.Replace($"-{bill.congress}", string.Empty)&congress=@bill.congress">
                                    <strong class="text-gray-dark h3 mb-2 font-weight-light">
                                        @bill.bill_id.Replace($"-{bill.congress}", string.Empty)
                                    </strong>
                                </a>
                            </td>
                            <td>
                                @Convert.ToDateTime(bill.latest_major_action_date).ToShortDateString()
                            </td>
                            <td>
                                <strong>
                                    @bill.title
                                </strong>
                                <br />
                                <i>
                                    @bill.latest_major_action
                                </i>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    }
    else
    {
        <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 lh-125">
                <p class="text-danger">
                    There are been no bills sponsored by this member.
                </p>
            </div>
        </div>
    }
</div>
@section Scripts{
    <script src="~/js/Members/Bills.cshtml.js" asp-append-version="true"></script>
    <script>
        MembersBillsModule.init();
    </script>
}