

<div id="members_list"></div>

@section Scripts{
    <script src="~/js/List.js" asp-append-version="true"></script>
    <script>
        var members = $('#members_list').List({
            defaultArgs: { congress: '@ViewData["congress"].ToString()', chamber: '@ViewData["chamber"].ToString()' },
            loadUrl: '/Members/List',
            onComplete: function (data) {
                $('#tbl_members').DataTable({
                    "pageLength": 25,
                    order: []
                })
            }
        })

        function ChamberFilterChanged(sender, congress, chamber) {
            members.list({ congress: congress, chamber: chamber })
        }

        function CongressFilterChanged(sender, congress, chamber) {
            members.list({ congress: congress, chamber: chamber })
        }
    </script>
}