

<div id="statments_list"></div>

@section Scripts{
    <script src="~/js/List.js" asp-append-version="true"></script>
    <script>  
        var statements = $('#statments_list').List({
            loadUrl: '/Statements/List',
            searchUrl: '/Statements/Search',
            onComplete: function (data) {
                $('#tbl_statements').DataTable({
                    "pageLength": 25,
                    order: [],
                    "columns": [
                        null,
                        { "type": "date" },
                        null,
                        null
                    ]
                })
            }
        })
        
        $('#form_search').removeClass('d-none')
        $('#nav_search').attr('placeholder', 'Search Statements')
        $('#nav_search').on('keypress', function (e) {
            if (e.which == 13) {
                e.preventDefault()
                var term = $('#nav_search').val();
                statements.search({ term: term })
            }
        })
    </script>
}