<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CapitalData</title>
    <partial name="_StyleSection" />
</head>
<body>
    @await Component.InvokeAsync("Header")

    <div class="container-fluid">
        <div class="row">
            @await Component.InvokeAsync("Sidebar")
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 p-2">
                @RenderBody()
            </main>
        </div>
    </div>
    @await Component.InvokeAsync("Footer")
    <partial name="_ScriptSection" />
    @RenderSection("Scripts", required: false)
</body>
</html>
