@{
    Layout = "/Views/Shared/_SidebarLayout.cshtml";
}

<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2 class="font-weight-light">
                Coming Soon
            </h2>
            <p class="lead font-weight-light text-white">
                We're working hard to finish the development of this feature.
            </p>
            <a href="/" class="btn btn-outline-light">Go home</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>
@section Scripts{ 
    <script>
        $('main').toggleClass('p-2 p-0')
    </script>
}